
.menu-itens{
    display: flex;
    list-style: none;
    background-color: blueviolet;
    justify-content: flex-end;
    gap: 10px;
    padding-right: 3%;
}

.block{
    background-color: aqua;
    padding: 4% 10%;
    border-radius: 6%;
    border: solid 1px;
    border-color: white;
}

.image-style{
    border: solid 2px;
    border-color: brown;
    border-radius: 60%;
    width: 60px;
}

.body{
    background-color: white;
    padding: 20px 5px;
    min-width: 250px;
    flex: 1;
    border: solid 2px;
    border-color: darkslateblue;
}

.sobre{
    padding-left: 20px;
    padding-right: 20px;
}

.sobre-titulo{
    font-size: 160%;
}

.card-text{
    display: flex;
    padding: 5%;
}
