
.menu-itens{
    display: flex;
    background-color: blueviolet;
    justify-content: flex-end;
    gap: 10px;
    padding-right: 1%;
    list-style: none;
}
.menu-itens a{
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.block{
    background-color: aqua;
    padding: 10px 0;
    border-radius: 6px;
    border: solid 1px white;
    display: inline-block;
    width: 150px;
    text-align: center;
}

.image-style{
    border: solid 2px;
    border-color: brown;
    border-radius: 60%;
    width: 60px;
}

.body{
    background-color: white;
    padding: 2%;
    min-width: 250px;
    flex: 1;
    border: solid 2px;
    border-color: darkslateblue;
}

.sobre{
    padding-left: 20px;
    padding-right: 20px;
}

.sobre-titulo{
    font-size: 200%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.divisões{
    display: flex;
    padding: 2%;
}
