.menu-itens{
    display: flex;
    justify-content: flex-end;
    background-color: darkolivegreen;
    gap: 10px;
    padding: 15px 3%;
    list-style: none;
    margin: 0;
}
.menu-itens a{
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.block{
    background-color: olivedrab;
    padding: 10px 0;
    border-radius: 6px;
    border: solid 1px white;
    display: inline-block;
    width: 150px;
    text-align: center;
}

body{
    padding: 0;
    margin: 0;
}

.corpo{
    background-color: white;
    flex: 1;
    border: solid 2px;
    border-color: darkgreen;
}

.sobre{
    padding: 30px 30px 50px 30px;
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("Banner.jpg");
    background-size: cover;           
    background-position: 50% 15%;        
    background-repeat: no-repeat;
    color: white;
    text-align: center;
}

.sobre-titulo{
    font-size: 300%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 0;
}
.texto{
    font-size: 110%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 3px;
}

.divisões{
    display: flex;
    padding: 2%;
    justify-content: center;
    align-items: center;
}

.faixa-projetos {
    width: 100%;
    background-color: rgb(126, 177, 218, 0.8); 
    text-align: center;         
    padding: 20px 0;            
    margin-top: -10px;
    border: 2px solid rgb(126, 177, 218);     
}

.faixa-projetos h2 {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 210%;
    margin: 0;            
}

