.quad-1 {
    width: 100px;
    height: 100px;
    background-color:#ffd000;
}
.quad-2 {
    width: 100px;
    height: 100px;
    background-color: #ff7b00;
}

.quad-3{
    width: 100px;
    height: 100px;
    background-color: #00ffd5; 
}

.container{
    height: 500px;
    display: flex;
    justify-content: space-around;
    align-items:flex-end;
    flex-direction: column-reverse;
}