:root{
    --altura-foto-grande1: 271px;
    --altura-foto-grande2: 200px;
    --altura-foto-pequena: 200px;
    --altura-foto-horizontal: 270px;
    --altura-foto-horizontal2: 300px;
    --altura-foto-horizontal3:400px;
    --largura-foto-horizontal: 35%;
}
.text-titulo { 
    font-size: 48px; 
}
.text-subtitulo { 
    font-size: 20px;
}
.text-footer { 
    font-size: 16px; 
}
.card {
    overflow: hidden;
    word-wrap: break-word;
    height: 100%;
}

.card-text {
    text-align: justify;
    padding-top: 7px !important;
    font-size: 18px;
    padding-right: 5px;
    line-height: 1.4;
}
.card-textp {
    text-align: justify;
    font-size: 16.7px;
    padding-right: 5px;
    line-height: 1.4;
}
.card-textm {
    text-align: justify;
    font-size: 15px;
    padding-bottom: 5px;
    line-height: 1.4;
}

.carousel-item {
    position: absolute;
}
.carousel-item::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}
.carousel-item img {
    height: 350px;
    object-fit: cover;
    width: 100%;
}
.carousel-item:nth-child(1) img {
    object-position: 10% 90%;
}
.carousel-item:nth-child(2) img {
    object-position: 50% 70%;
}
.carousel-item:nth-child(3) img {
    object-position: 20% 70%; 
}
.carousel-text {
    position: absolute;
    top: 27%;
    left: 50%;
}

.foto-vertical-grande1 {
    height: var(--altura-foto-grande1);
    object-fit: cover;
    width: 100%;
}
.foto-vertical-grande2 {
    height: var(--altura-foto-grande2);
    object-fit: cover;
    width: 100%;
}
.foto-vertical-pequena {
    height: var(--altura-foto-pequena);
    object-fit: cover; 
    width: 100%;
}
.col-foto-horizontal {
    flex: 0 0 var(--largura-foto-horizontal);
    max-width: var(--largura-foto-horizontal);
    height: 100%;
}

.img-horizontal-fill {
    width: 100%;
    height: var(--altura-foto-horizontal);
    object-fit: cover;
    object-position: center;
}

.img-horizontal-fill2 {
    width: 100%;
    height: var(--altura-foto-horizontal2);
    object-fit: cover;
}

.img-horizontal-fill3 {
    width: 100%;
    height: var(--altura-foto-horizontal3);
    object-fit: cover;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.faixa-pratos {
    width: 100%;
    text-align: center;         
    padding: 20px 0;            
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    margin-top: 50px;   
       
}

.title-faixa{
    color: white;
    font-size: 35px !important;
    margin: 0; 
    padding-top: 1px;        
}

.title-off{
    text-decoration: underline;
    font-size: 25px;
}

.offcanvas{
    padding: 5px !important;
}

.fundo-faixa{
    padding-bottom: 35px;
    padding-top: 1px;
}

.btn-texto-menor {
    font-size: 16px !important;
}

@media (max-width: 480px) {
    .text-titulo {
        font-size: 30px !important;
    }
    .text-subtitulo {
        font-size: 15px !important;
    }
    .text-footer {
        font-size: 12px !important;
    }
    p,.card-text,.lead{
        font-size:15px !important;
    }
    h5,.card-title{
        font-size:22px !important;
    }
    h5,.title-faixa{
        font-size: 28px !important;
    }
    button{
        font-size: 12px !important;
    }
    .title-off{
        font-size: 25px !important;
        text-decoration: underline;
    }
}

