:root{
    --altura-foto-grande1: 271px;
    --altura-foto-grande2: 200px;
    --altura-foto-pequena: 200px;
    --altura-foto-horizontal: 270px;
    --altura-foto-horizontal2: 300px;
    --largura-foto-horizontal: 35%;
}
.text-titulo { 
    font-size: 48px; 
}
.text-subtitulo { 
    font-size: 20px;
}
.text-footer { 
    font-size: 16px; 
}

.carousel-item {
    position: relative;
}
.carousel-item::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}
.carousel-item img {
    height: 350px;
    object-fit: cover;
    width: 100%;
}
.carousel-text {
    position: absolute;
    top: 27%;
    left: 50%;
}

.foto-vertical-grande1 {
    height: var(--altura-foto-grande1);
    object-fit: cover;
    width: 100%;
}
.foto-vertical-grande2 {
    height: var(--altura-foto-grande2);
    object-fit: cover;
    width: 100%;
}
.foto-vertical-pequena {
    height: var(--altura-foto-pequena);
    object-fit: cover; 
    width: 100%;
}
.col-foto-horizontal {
    flex: 0 0 var(--largura-foto-horizontal);
    max-width: var(--largura-foto-horizontal);
}

.img-horizontal-fill {
    width: 100%;
    height: var(--altura-foto-horizontal);
    object-fit: cover;
}

.img-horizontal-fill2 {
    width: 100%;
    height: var(--altura-foto-horizontal2);
    object-fit: cover;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.faixa-pratos {
    width: 100%;
    text-align: center;         
    padding: 20px 0;            
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    margin-top: 50px;   
       
}

.title-faixa{
    color: white;
    font-size: 35px !important;
    margin: 0; 
    padding-top: 1px;        
}


.fundo-faixa{
    padding-bottom: 35px;
    padding-top: 1px;
}

@media (max-width: 480px) {
    .text-titulo {
        font-size: 29px !important;
    }
    .text-subtitulo {
        font-size: 16px !important;
    }
    .text-footer {
        font-size: 10px !important;
    }
    p,.card-text,.lead{
        font-size:14px;
    }
    h5.card-title{
        font-size:20px;
    }
    h5.title-faixa{
        font-size: 25px;
    }
}

