:root{
    --var-cor-fundo:#ffffff;
    --var-cor-principal:#0cb14e;
    --var-estilo-fonte:'Courier New', Courier, monospace;
    --var-tamanho-texto: ;
    --var-tamanho-titulo: 2.5rem;
}
.carousel-item {
    position: relative;
}
.carousel-item::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}
.carousel-item img {
    height: 350px;
    object-fit: cover;
    width: 100%;
}
.carousel-text {
    position: absolute;
    top: 27%;
    left: 50%;
}

p{
    font-family: --var-estilo-fonte;
}

