.container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 8%;
}

.img-icon{
    width: 40px;
    height: auto;
    border: solid 1px white;
    border-radius: 50%;
    cursor: pointer;
    transition: transform .2s ease;
}
.img-icon:hover {
    transform: scale(1.1);
}

.icon-link {
    text-decoration:none;
}


