.container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.img-icon{
    transition: transform .2s ease;
}
.img-icon:hover {
    transform: scale(1.1);
}
.lead{
    font-size: 17px !important;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}
html, body {
    height: 100%;
}
main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
body {
    display: flex;
    flex-direction: column;
}
.card {
    border-radius: 20px;
    overflow: hidden;
    background-color: transparent;
    border: none !important;
}
body{
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(Photos/Bankok-templo.jpg);
    background-repeat: no-repeat;
    background-size: cover;  
    background-position: center;
}

@media (max-width: 480px) {
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        min-height: 100vh;
    }
    .card {
        margin: 0 auto;
        width: 100%;
        max-width: 420px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        overflow: hidden;
        margin-top: 90px;
    }
    .col-md-6 {
        padding: 25px !important;
    }
    .text-footer {
        font-size: 12px !important;
    }
}










