:root{
    --altura-foto-grande1: 400px;
    --altura-foto-grande2: 200px;
    --altura-foto-pequena: 100px;
    --largura-foto-horizontal: 40%;
}
.carousel-item {
    position: relative;
}
.carousel-item::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}
.carousel-item img {
    height: 350px;
    object-fit: cover;
    width: 100%;
}
.carousel-text {
    position: absolute;
    top: 27%;
    left: 50%;
}
.foto-vertical-grande1 {
    height: var(--altura-foto-grande1);
    object-fit: cover;
    width: 100%;
}
.foto-vertical-grande2 {
    height: var(--altura-foto-grande2);
    object-fit: cover;
    width: 100%;
}

.foto-vertical-pequena {
    height: var(--altura-foto-pequena);
    object-fit: cover; 
    width: 100%;
}

.col-foto-horizontal {
    flex: 0 0 var(--largura-foto-horizontal);
    max-width: var(--largura-foto-horizontal);
}

.img-horizontal-fill {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


