@media (max-width:480px) and (orientation: portrait){
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
    
    .Início{
        width: 90%;
        max-width: 480px;
        margin: auto;
    }
    
    body{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
        background-color: rgb(255, 244, 230);
        color:rgb(32, 32, 32);
        line-height: 1.6;
    }
    
    /*Titulo+Indice+subtitulo*/
    header{
        background-color: rgb(34,66,148);
        color: white;
        padding-bottom: 30px;
        padding-top: 30px;
        padding-right: 18px;
        font-size: 17px;
        padding-left: 15px;
    } 
    
    header .Início {
        display:flex;
        justify-content: space-between;
        align-items: center;
    }
    
    header .texto-inicio{
        background-color: rgb(34,66,148);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
        padding-left: 24px;
        padding-bottom: 3px;
        padding-top: 5px;
        font-size: small;
    }
    
    .titulo-menu{
        background-color: rgb(255, 232, 201);
        color: (34,66,148);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
        padding-left: 24px;
        padding-bottom: 3px;
        padding-top: 5px;
        
    }
    .menu{
        list-style: none;
        display: flex;
        justify-content: space-evenly;
        gap: 5px;
        background-color: rgb(250, 236, 218);
        font-size: 10px;
    }
    .menu li{
        padding: 5px 13px;
        background-color: rgb(34,66,148);
        border-radius: 5px;
    }
    .menu a{
        color: #f4f4f4;
        text-decoration: none;
        transition: color 0.3s;
    }
    .menu a:hover {
        color: cornflowerblue;
    }
    
    /*sobre+lugares*/
    main {
        padding: 30px 3px;
        font-size: 15px;
    }
    .sobre{
        padding-bottom: 15px;
        padding-left: 3px;
        padding-right: 7px;
        text-align: justify;
    }
    .sobre2{
        padding-bottom: 8px;
        padding-left: 3px;
        margin: 0;
    }
    .topico{
        list-style: none;
    }
    .card-container {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        padding-left: 8px;
    }
    .text-titulo{
        font-size: 15px;
        color: #0077cc;
        padding-top: 2px;
    }
    .card {
        background-color: white;
        padding: 20px 5px;
        min-width: 250px;
        flex: 1;
        border-radius: 10px;
        box-shadow: 0 5px 8px rgba(0,0,0,0.4);
        transition: transform 0.3s;
    }
    
    .image-place{
        width: 300px;
        display: flex;
        padding-left: 30px;
    }
    .card:hover {
        transform: translateY(-5px);
    }
    
    .text-padding {
        padding-left: 20px;
        padding-right: 20px;
    }
}
