@media (max-width:425px){
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
    
    .quad{
        background-color: steelblue;
        width: 100%;
        height: 10px;
    }
    .Início{
        width: 90%;
        max-width: 470px;
        margin: auto;
        
    }
    
    body{
        font-family: Arial, Helvetica, sans-serif; 
        background-color: rgb(255, 244, 230);
        color:rgb(32, 32, 32);
        line-height: 1.6;
    }
    
    /*Titulo+Indice+subtitulo*/
    header{
        background-color: rgb(34,66,148);
        color: white;
        padding-bottom: 6%;
        padding-top: 6%;
        padding-right: 6%;
        font-size: 107%;
        padding-left: 3%;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    } 
    
    header .Início {
        display:flex;
        justify-content: space-between;
        align-items: center;
    }
    
    header .texto-inicio{
        background-color: rgb(34,66,148);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
        padding-left: 6%;
        padding-top: 1%;
        padding-bottom: 2%;
        font-size: 74%;
    }
    
    .titulo-menu{
        background-color: rgb(255, 232, 201);
        color: rgb(34,66,148);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
        padding-left: 3.5%;
        padding-bottom: 0.5%;
        padding-top: 1%; 
    }

    .menu-blocos{
        list-style: none;
        display: flex;
        justify-content: space-evenly;
        gap: 1%;
        background-color: rgb(250, 236, 218);
        font-size: 60%;
        
    }
    .menu-blocos li{
        padding: 1.3% 4%;
        background-color: steelblue;
        font-size: 104%;
        font-family: Arial, Helvetica, sans-serif;
        border-radius: 5px;
        box-shadow: 0 5px 8px rgba(0, 0, 0, 0.3);
    }
    .menu-blocos a{
        color: #f4f4f4;
        text-decoration: none;
    }
    
    /*sobre+lugares*/
    main {
        padding: 7% 3%;
        font-size: 90%;
        font-family: Arial, Helvetica, sans-serif;
        text-align: left;
    }
    .sobre{
        padding-bottom: 5%;
    }
    .sobre2{
        color: rgb(34,66,148);
        padding-bottom: 2%;
        padding-left: 1%;
        margin: 0;
        font-size: 160%;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .sobre3{
        color: rgb(34,66,148);
        margin: 0;
        font-size: 160%;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .topico{
        list-style: none;
    }
    .card-container {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        padding-left: 1%;
    }
    .text-titulo{
        font-size: 107%;
        color: steelblue;
        padding-top: 2px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .titulo-padding{
        font-size: 140%;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        padding-top: 5%;
        color: rgb(34,66,148);
        padding-left: 5%;
    }
    .card {
        background-color: rgb(255, 248, 240);
        padding: 10% 1%;
        min-width: 100%;
        flex: 1;
        border-radius: 10px;
        box-shadow: 0 5px 8px rgba(170, 163, 126, 0.534);
    }
    
    .image-place{
        width: 100%;
        position: relative;
        display: flex;
        padding-left: 8%;
        padding-right: 8%;
    }

    .text-padding {
        padding-left: 5%;
        padding-right: 5%;
    }

    .footer {
        background-color: rgb(34,66,148);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: white;
        font-size: 75%;
        text-align: center;
        padding: 3%;
    }
}
